<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">Menu</button>
			<a class="navbar-brand" href="/">Home</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-menu">
			<ul class="nav navbar-nav">
				<li><a href="/post/">Archives</a></li>
{{/* }}
				<li><a href="/about/">About</a></li>
{{ */}}
				<li><a href="/index.xml">RSS</a></li>
			</ul>
		</div>
	</div>
</nav>
